NEXT_PUBLIC_SUPABASE_URL=https://auhowvxoghaoungkpcve.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_48Eb69gCOlGOElKuB8JKsg_p8yISKEw
SUPABASE_SERVICE_ROLE_KEY=your_secret_key_here_do_not_commit_real_value
